# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [76]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [77]:
# Your code here:
df = pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [78]:
# Your code here:
df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [79]:
# Your code here:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

In [80]:
columns = df.columns
columns

Index(['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate'],
      dtype='object')

In [81]:
for column in columns:
    nulls = df[column].isnull()
    print(f'column "{column}" contains {nulls.sum()} missing values')

column "Name" contains 0 missing values
column "Job Titles" contains 0 missing values
column "Department" contains 0 missing values
column "Full or Part-Time" contains 0 missing values
column "Salary or Hourly" contains 0 missing values
column "Typical Hours" contains 25161 missing values
column "Annual Salary" contains 8022 missing values
column "Hourly Rate" contains 25161 missing values

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [82]:
# Your code here:
df['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [83]:
# Your code here:
df['Department'].value_counts()

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [84]:
# Null Hypothesis: The mean hourly wage is $30/hr.
# Alternative Hypothesis: The mean hourly wage is not $30/hr.

In [85]:
hourly_rate = df[df["Salary or Hourly"] =='Hourly']['Hourly Rate']

hourly_rate

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [86]:
# Your code here:
import scipy.stats as st

t_statistic, p_value = st.ttest_1samp(df[df["Salary or Hourly"] =='Hourly']['Hourly Rate'], 30)

print(f"T-Statistic: {t_statistic}")
print(f"P-Value: {p_value}")

# Check if we reject the null hypothesis at the 95% confidence level
alpha = 0.05
if p_value < alpha:
    print("We reject the null hypothesis. The mean hourly wage is significantly different from $30/hr.")
else:
    print("We fail to reject the null hypothesis. There is no significant difference between the mean hourly wage and $30/hr.")

T-Statistic: 20.6198057854942
P-Value: 4.3230240486229894e-92
We reject the null hypothesis. The mean hourly wage is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [97]:
# Your code here:
police_salaries = df[(df['Department'] == 'POLICE') & (df['Salary or Hourly'] == 'Salary')]['Annual Salary']

last_year_mean = 86000

# Perform the one-sample t-test
t_statistic, two_tailed_p_value = st.ttest_1samp(police_salaries, last_year_mean)

# Convert the two-tailed p-value to a one-tailed p-value
one_tailed_p_value = two_tailed_p_value / 2

print(f"T-Statistic: {t_statistic}")
print(f"Two-Tailed P-Value: {two_tailed_p_value}")
print(f"One-Tailed P-Value: {one_tailed_p_value}")

# Check if we reject the null hypothesis at the 95% confidence level
alpha = 0.05
if t_statistic > 0 and one_tailed_p_value < alpha:
    print("We reject the null hypothesis. The mean salary this year is significantly greater than $86,000/year.")
else:
    print("We fail to reject the null hypothesis. There is no significant evidence that the mean salary this year is greater than $86,000/year.")

T-Statistic: 3.081997005712994
Two-Tailed P-Value: 0.0020603403550965137
One-Tailed P-Value: 0.0010301701775482569
We reject the null hypothesis. The mean salary this year is significantly greater than $86,000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [104]:
# Your code here:
hourly_workers = df[df['Salary or Hourly'] == 'Hourly']
crosstab = pd.crosstab(hourly_workers['Department'], hourly_workers['Salary or Hourly'])
most_hourly_workers_department = crosstab.idxmax()[0]
most_hourly_workers_count = crosstab.max()[0]

print(most_hourly_workers_department,most_hourly_workers_count)

STREETS & SAN 1862

In [102]:
crosstab

Salary or Hourly       Hourly
Department
ANIMAL CONTRL              19
AVIATION                 1082
BUDGET & MGMT               2
BUSINESS AFFAIRS            7
CITY COUNCIL               64
COMMUNITY DEVELOPMENT       4
CULTURAL AFFAIRS            7
FAMILY & SUPPORT          287
FINANCE                    44
FIRE                        2
GENERAL SERVICES          765
HEALTH                      3
HUMAN RESOURCES             4
LAW                        40
MAYOR'S OFFICE              8
OEMC                     1273
POLICE                     10
PROCUREMENT                 2
PUBLIC LIBRARY            299
STREETS & SAN            1862
TRANSPORTN                725
WATER MGMNT              1513

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [107]:
# Your code here:
most_hourly_dep = df[(df['Department'] == 'STREETS & SAN') & (df['Salary or Hourly'] == 'Hourly')]['Hourly Rate']

hourly_wage = 35

# Perform the one-sample t-test
t_statistic, two_tailed_p_value = st.ttest_1samp(most_hourly_dep, hourly_wage)

# Convert the two-tailed p-value to a one-tailed p-value
one_tailed_p_value = two_tailed_p_value / 2

print(f"T-Statistic: {t_statistic}")
print(f"Two-Tailed P-Value: {two_tailed_p_value}")
print(f"One-Tailed P-Value: {one_tailed_p_value}")

# Check if we reject the null hypothesis at the 95% confidence level
alpha = 0.05
if t_statistic < 0 and one_tailed_p_value < alpha:
    print("We reject the null hypothesis. The mean hourly wage is significantly less than $35/hour.")
else:
    print("We fail to reject the null hypothesis. There is no significant evidence that the mean hourly wage is less than $35/hour.")

T-Statistic: -9.567447887848152
Two-Tailed P-Value: 3.3378530564707717e-21
One-Tailed P-Value: 1.6689265282353859e-21
We reject the null hypothesis. The mean hourly wage is significantly less than $35/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [108]:
# Your code here:
hourly_workers = df[df['Salary or Hourly'] == 'Hourly']['Hourly Rate'].dropna()

sample_mean = hourly_workers.mean()

standard_error = st.sem(hourly_workers)

degrees_of_freedom = len(hourly_workers) - 1

confidence_level = 0.95
confidence_interval = st.t.interval(confidence_level, degrees_of_freedom, loc=sample_mean, scale=standard_error)

print(f"Sample Mean: {sample_mean}")
print(f"Standard Error: {standard_error}")
print(f"95% Confidence Interval: {confidence_interval}")

Sample Mean: 32.78855771628024
Standard Error: 0.1352368565101596
95% Confidence Interval: (32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [109]:
# Your code here:
police_salaries = df[(df['Department'] == 'POLICE') & (df['Salary or Hourly'] == 'Salary')]['Annual Salary']

sample_mean = police_salaries.mean()

standard_error = st.sem(police_salaries)

degrees_of_freedom = len(police_salaries) - 1

confidence_level = 0.95
confidence_interval = st.t.interval(confidence_level, degrees_of_freedom, loc=sample_mean, scale=standard_error)

print(f"Sample Mean: {sample_mean}")
print(f"Standard Error: {standard_error}")
print(f"95% Confidence Interval: {confidence_interval}")

Sample Mean: 86486.41450313339
Standard Error: 157.82445675052244
95% Confidence Interval: (86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [92]:
# Your code here: